@media only screen and (max-width:600px) {
    .custom-valign {
        position: relative;
        margin-top: 10px;
    }
    footer {
        bottom: 0;
        position: relative;;
        width: 100%;
    }
}

@media only screen and (min-width:601px) {
    form .labelform {
        padding: 10px 0;
        text-align: right;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

my-app {
    flex: 1 0 auto;
}

.brand-logo {
    padding: 0 0 0 10px;
}

.padding-20 {
    padding: 20px 20px 20px 20px;
}

.all-width {
    width: 100%;
}


.icon-button {
  font-size: 20px;
  cursor: pointer;
}

.icon-button.icon-edit-button {
  position: absolute;
  margin-left: 10px;
}

a.disabled {
    color: gray !important;
    pointer-events: none;
}

.pagination .active {
    pointer-events: none;
}

.pagination .disabled {
    pointer-events: none;
}

#userList .title {
    font-size: 16px;
    font-weight: bold
}

#userList p {
    font-size: 13px;
    font-style: italic;
}

