<header>
  <!--<ng-view></ng-view>-->
  <a class="brand-logo" href="#"><img src="http://placehold.it/250x60"></a>

  <nav>
    <a class="button-collapse" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>

    <ul class="left hide-on-med-and-down" id="nav-desktop">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/usuarios">Usuários</a></li>
    </ul>

    <ul class="side-nav" id="nav-mobile">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/usuarios">Usuários</a></li>
    </ul>
  </nav>
</header>

