<footer class="page-footer center-align grey-text text-lighten-4">
  <div class="container">
    <b>User List</b>
  </div>

  <div class="footer-copyright">
    <div class="container">
      2017 - Todos os direitos reservados
    </div>
  </div>
</footer>
