<div class="row">
	<div class="lateral-padding-20">
	  <div class="col s11 m6 l4 offset-m3 offset-l4 custom-valign rounded-corners">
			<div class="row">
				<h2>Ooops...</h2><br />
        <h5>Página não encontrada</h5>
			</div>
	  </div>
	</div>
</div>
