<div class="z-depth-3 container padding-20 left-align">
  <div class="row" id="userList" *ngIf="user">
    <ul class="collection">
      <li *ngFor="let data of user.data; let i = index" class="collection-item avatar">
        <img src={{data.avatar}} alt="" class="circle">
        <span class="title">{{data.first_name | firstName}} {{data.last_name | lastName}}</span>
        <p>código: {{data.id}}</p>
      </li>
    </ul>
  </div>
  <div class="row">
    <ul class="pagination">
      <li class="waves-effect" [class.disabled]="1 == currentPage">
        <a (click)="prevPage()"><i class="material-icons">chevron_left</i></a>
      </li>
      <li *ngFor="let nPage of pages" class="waves-effect"
        [class.active]="nPage == currentPage" >
        <a (click)="getUsers(nPage)">{{nPage}}</a>
      </li>
      <li class="waves-effect" [class.disabled]="totalPages == currentPage">
        <a (click)="nextPage()"><i class="material-icons">chevron_right</i></a>
      </li>
      </ul>
  </div>
      
</div>
